body{
	background-color: #f2f2f2;
	font-weight: 300;
	-webkit-font-smoothing:antialiased;  /*для плавного текста*/
	-webkit-overflow-scrolling:touch;   /*для плавного скролинга*/

}

.centered{
	text-align: center;
}

a:hover, a:focus{
	text-decoration: none;
	color:#fff;
}


.img_smalldog{
	background: url(img/k4.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
}
.slider-sq_block {
	background: rgba(255,255,255,0.7);
	padding: 33px 43px 25px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	text-align: center;
}

.slider-sq{
	height: 330px;
	z-index: 5;
	position: relative;
	top:-330px;
	padding: 10px;
	background: rgba(255,255,255,0.5);
	margin-bottom: -330px;
}
.slider-sq a{
	position: relative;
	z-index: 6;
}
.slider-sq a:hover{
	text-decoration: none;
	color: #fff;
}
.slider-sq_block:hover {
	background:#05a6b3;
}


.navbar{
	margin-left: 10%;
	position: fixed !important;
	top:0;
	z-index: 1000 !important;
}
.navbar-toggler{
	width: 47px;
	height: 34px;
	border:none;
}
.navbar-toggler .line{
	width: 100%;
	float: left;
	height: 2px;
	background-color: #E7E7E7;
	margin-bottom: 5px;
}
.navbar-default {
	padding: 0;
	font-size: 13px;
	background-color: #222222;

}
.navbar-nav>li>a {
	display: block;
	margin-bottom: 10px;
	font-weight: 900;
	text-transform: uppercase;
	position: relative;
	z-index: 5;
	color: #fff;
}
.navbar-nav>li{
	padding-right: 40px;
	margin-left: -15px;
	margin-right: -15px;
}
#navbarNav li{
	padding-left: 15px;
	margin: 0;
}
#navbarNav {
	margin-top: 15px;
}
.navbar-nav>li:hover{
	background: #2c2c2c;
}
.navbar-brand{
	background: #05a6b3;
	height: 80px;
	padding-left: 15px;
	padding-right: 15px;
	padding-top:20px !important;
}
.navbar-brand2{
	background: #047c86;
	position: relative;
}
.navbar-brand3{
	margin-top: -10px;
	background: #2c2c2c;
	margin-bottom: -10px;
	position: relative;
	left: -16px;
	padding-right: 16px;
}
.carousel{
	position: absolute;
	z-index: 1;
}
.big-info h3 {
	color: #fff;
	margin-bottom: 12px;
}
.proc{
	width: 80% !important;
}
.big-info {

	background: #222222;
}
@media screen and (max-width: 1120px) {
	.slider-sq_block p{
		visibility: hidden;
		height: 0;
	}
}

@media screen and (max-width: 767px) {
	.slider-sq_block img{
		visibility: hidden;
		height: 0;
	}
	.slider-sq_block p{
		visibility: hidden;
		height: 0;
	}
	.slider-sq_block {
		padding: 0;
	}
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
	margin-bottom: .5rem;
	font-family: inherit;
	font-weight: 500;
	line-height: 1.2;
	color: inherit;
}

.big-info h3 {
	font-size: 52px;
	line-height: 52px;
	color: #fff;
	text-transform: uppercase;
	font-weight: 900;
}
.big-info h3 span{
	color: #05a6b3;
}
.big-info .btn_slide div {
	width: 220px;
	padding: 19px 0 18px;
}
.btn_slide {
	color: #fff;
	background: #047c86;
}

.big-info p{
	padding-right: 60px;
	padding-top: 6px;
	color: #ccc5c5;
}
.big-info{
	padding: 36px 0 43px;
}
.big-info_wrapper-2 {
	background: #047c86;
	padding-bottom: 5px;
}
.big-info_wrapper-1 {
	background: #2c2c2c;
	padding-bottom: 5px;
}
.big-info_wrapper-3 {
	background: #05a6b3;
	padding-bottom: 5px;
}
.info h3  {
	font-size: 52px;
	line-height: 52px;
	color: #222222;
	text-transform: uppercase;
	font-weight: 900;
}
.info p.info_title {
	line-height: 28px;
}
.info_title{
	text-align:center;
}
.info {
	background: #fff;
	padding: 42px 0 64px;
}
.info_block {
	border: 2px solid #e6e6e6;
}
.info_block img{
	width: 100%;
}
.info_block_text{
	padding: 10px;
}
.info_block .btn_slide{
	padding-top: 10px;
	padding-bottom: 10px;
	width: 100px;
	text-align: center;
}
.btn_more{
	width: 100%;
	text-align: center;
}

.btns a {}

#form1 input {
    border: none;
    background: #fff;
    color: #a6a6a6;
    font: 14px/20px 'Roboto';
    padding: 17px 5px 16px 22px;
    box-shadow: none;
    margin: 0;
}

.sForm {
    background: #05a6b3;
    padding: 56px 0 48px;
}
.sForm h3 {
    font: 52px/52px 'PT Sans';
    color: #fff;
    letter-spacing: -1px;}
#form1 label {
    display: inline-block;
    min-height: 30px;
    width: 100%;
}
#form1 .error {
    position: absolute;
    display: block;
    overflow: hidden;
    height: 0px;
    font-size: 10px;
    color: #F00;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

#form1 .success {
    width: 490px;
    height: 100%;
    border: none;
    background: #05a6b3;
    color: #222222;
    text-align: center;
    padding-top: 7px;
    position: absolute;
    z-index: 10;
    left: 315px;
    top: 0;
}
.btns a {
    display: inline-block;
    font: 16px/16px 'Roboto';
    padding: 19px 0 18px;
    background: #000;
    text-decoration: none;
    color: #fff;
    width:100px;
    text-align: center;
}

















