body{
	background-color: #222222;
	font-weight: 300;
	-webkit-font-smoothing:antialiased;  /*для плавного текста*/
	-webkit-overflow-scrolling:touch;   /*для плавного скролинга*/

}

.centered{
	text-align: center;
}

a:hover, a:focus{
	text-decoration: none;
	color:#fff;
}

.slider-sq_block {
	background: rgba(255,255,255,0.7);
	padding: 33px 43px 25px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	text-align: center;
}

.slider-sq{
	height: 330px;
	z-index: 5;
	position: relative;
	top:-330px;
	padding: 10px;
	background: rgba(255,255,255,0.5);
	margin-bottom: -330px;
}
.slider-sq a{
	position: relative;
	z-index: 6;
}
.slider-sq a:hover{
	text-decoration: none;
	color: #fff;
}
.slider-sq_block:hover {
	background:#05a6b3;
}


.navbar{
	position: fixed !important;
	top:0;
	z-index: 1000 !important;
	float: right;
}
.navbar-toggler{
	width: 47px;
	height: 34px;
	border:none;
}
.navbar-toggler .line{
	width: 100%;
	float: left;
	height: 2px;
	background-color: #E7E7E7;
	margin-bottom: 5px;
}
.navbar-default {
	padding: 0;
	font-size: 13px;
	background-color: #222222;

}
.navbar-nav>li>a {
	display: block;
	margin-bottom: 10px;
	font-weight: 900;
	text-transform: uppercase;
	position: relative;
	z-index: 5;
	color: #fff;
}
.navbar-nav>li{
	padding-right: 40px;
	margin-left: -15px;
	margin-right: -15px;
}
#navbarNav li{
	padding-left: 15px;
	margin: 0;
}
#navbarNav {
	margin-top: 15px;
}
.navbar-nav>li:hover{
	background: #2c2c2c;
}
.navbar-brand{
	background: #05a6b3;
	height: 80px;
	padding-left: 15px;
	padding-right: 15px;
	padding-top:20px !important;
}
.navbar-brand2{
	background: #047c86;
	position: relative;
}
.navbar-brand3{
	margin-top: -10px;
	background: #2c2c2c;
	margin-bottom: -10px;
	position: relative;
	left: -16px;
	padding-right: 16px;
}
.carousel{
	position: absolute;
	z-index: 1;
}
.big-info h3 {
	color: #fff;
	margin-bottom: 12px;
}
.proc{
	margin-left: 10%;
	width: 80% !important;
}
.big-info {

	background: #222222;
}
@media screen and (max-width: 1120px) {
	.slider-sq_block p{
		visibility: hidden;
		height: 0;
	}
}
@media screen and (max-width: 845px) {
	.proc{
		width: 100% !important;
		margin-left:0;
	}
	.dc {
		font-size: 30px;
		line-height: 30px;
	}
	.slider-sq_block{
		position: static;
		top: 0;
		height: auto;
	}
	.carousel{
		height: 500px;
	}
	.carousel img{
		width: 100%;
		height: 500px;
		object-fit: cover;
		object-position: 25% 0;	
	}

}
@media screen and (max-width: 767px) {
	.slider-sq_block img{
		visibility: hidden;
		height: 0;
	}
	.slider-sq_block p{
		visibility: hidden;
		height: 0;
	}
	.slider-sq_block {
		padding: 0;
	}
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
	margin-bottom: .5rem;
	font-family: inherit;
	font-weight: 500;
	line-height: 1.2;
	color: inherit;
}

.big-info h3 {
	font-size: 52px;
	line-height: 52px;
	color: #fff;
	text-transform: uppercase;
	font-weight: 900;
}
.big-info h3 span{
	color: #05a6b3;
}
.big-info .btn_slide {
	width: 100%;
	padding-top: 19px;
	padding-bottom: 18px;
	text-align:center;
}
.btn_slide:hover{
	background: #fff;
	color: #047c86;
	border:1px solid #222222;
}
.btn_slide {
	border:1px solid #047c86;
	box-shadow: none;
	color: #fff;
	background: #047c86;
}

.big-info p{
	padding-right: 60px;
	padding-top: 6px;
	color: #ccc5c5;
}
.big-info{
	padding: 36px 0 43px;
}
.big-info_wrapper-2 {
	background: #047c86;
	padding-bottom: 5px;
}
.big-info_wrapper-1 {
	background: #2c2c2c;
	padding-bottom: 5px;
}
.big-info_wrapper-3 {
	background: #05a6b3;
	padding-bottom: 5px;

}
.info h3  {
	font-size: 52px;
	line-height: 52px;
	color: #222222;
	text-transform: uppercase;
	font-weight: 900;
}
.info p.info_title {
	line-height: 28px;
}
.info_title{
	text-align:center;
}
.info {
	background: #fff;
	padding: 42px 0 64px;
}
.info_block {
	border: 2px solid #e6e6e6;
}
.info_block img{
	width: 100%;
}
.info_block_text{
	padding: 10px;
}
.info_block .btn_slide{
	padding-top: 10px;
	padding-bottom: 10px;
	width: 100px;
	text-align: center;
}
.btn_more{
	width: 100%;
	text-align: center;
}

.btns {
	font-family:  'Roboto';
	border: none;
	background: #000;
	text-decoration: none;
	color: #fff;
	width: 100%;
	text-align: center;
}
.btns a:hover {
	background: #333;
	text-decoration: none;
}
.sForm {
	background: #05a6b3;
	padding: 56px 0 48px;
}
.sForm h3 {
	font-size: 52px;
	color: #fff;
}


.btns a {
	display: inline-block;
	font: 16px/16px 'Roboto';
	padding-top: 19px;
	padding-bottom: 18px;
	background: #000;
	text-decoration: none;
	color: #fff;
	width:100%;
	text-align: center;
}

.sForm  input {
	border: none;
	background: #fff;
	color: #a6a6a6;
	font: 14px/20px 'Roboto';
	padding-top: 17px;
	padding-right:  5px;
	padding-bottom:  16px;
	padding-left: 20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	outline: none;
	box-shadow: none;
	margin-bottom: 10px;
}

.social {
	background: #047c86;
	padding: 90px 0;
	text-align: center;
}

.social h4 {
	color: #fff;
	margin-top: 24px;

	font-size: 22px;
	line-height: 22px;
	font-weight: 900;
	text-transform: uppercase;
}


.b-block {
	padding: 47px 0;
	font-size: 13px;
	color: #fff;
	background: #222222;
}
.b-block a{
	color: #fff;
}
.b-block a:hover{
	text-decoration: none;
	color:#fff;
}
.b-block ul li{
	list-style: none;
	padding-bottom: 5px;
}
.b-block ul {
	padding-left: 0;
}
.b-block h5 {
	font-family:  'Roboto';
	font-size: 16px;
	line-height: 22px;
	color: #fff;
	font-weight: 900;
	text-transform: uppercase;
}
.b-block_contact img {
	margin-top: 2px;
	margin-right: 10px;
	max-width: 23px;
	float: left;
}
.b-block_contact p {
	overflow: hidden;
	line-height: 18px;
}
@font-face {
	font-family: Roboto;
	src: url("font/Roboto-Black.ttf");
	font-weight: normal;
}









